@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Oswald&family=Poppins:wght@500;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E0E4E0;
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#5EAF1E;
    --secondary-color:#FFC107;
    --color-white:#ffffff;
    --color-black:#000000;
    --size-lg:2.125rem;
    --size-md:1.125rem;
    --size-sm:0.875rem;
}
a{
    text-decoration: none;
}
/* header start */
.header{
    background-color: var(--color-black);
}
.header .top-ber{
    padding-top: 5px;
    border-bottom: 1px solid gainsboro;
}
.header .top-link{
    float: left;
} 
.header .top-link a{
    color:var(--color-white)!important;
}
.header .top-link a:hover{
    color: var(--primary-color) !important;
    
} 
.header .top-link i{
    color:var(--primary-color)  !important;
}
.header .top-ber li{
    display: inline-block;
    margin-right: 15px;
}
.header .top-ber li a{
    font-size: var(--size-sm);
}
.header .top-ber li a:hover{
    color: var(--primary-color);
}
.header .top-contact{
    float: right;
}
.header .top-contact li{
    margin-right: 25px;
} 
.header .top-contact li a{
    color: var(--color-white);
} 
.header .top-contact .lan{
    margin-left: 20px;
    color: var(--color-white);
}
.header .top-contact li i{
    color: var(--color-white);
    background-color: var(--color-black) !important;
}
/* header end */
/* ------nav start--------- */
.navbar{
    background-color: var(--color-white)!important;
}

.navbar-area .navbar-nav .nav-item{
  margin-left:20px;
}
.navbar-area .navbar-nav .nav-item .nav-link:hover{
    color: var(--primary-color)!important;
    transition: .6s;
}
.navbar-area .navbar .nav-item .active{
    color: var(--primary-color);
}
.navbar-area .side-icon .inner-icon{
    color: var(--color-black) !important;
} 
.navbar-area .navbar .side-icon .inner-icon:hover{
    background-color: var(--primary-color); 
    color: var(--color-white);
    transition: .6s;
} 
.navbar-area .navbar .side-icon .inner-icon{
    float: left;
    background-color: var(--color-white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 8px;
    margin: 0px 10px;
}
/* -------nav end ---------*/
 /* ----------side nav start-----------  */
.list-group {
    margin-top: -25px;
}
.list-group .list-group-item.active{
    background-color: var(--primary-color);
    color: var(--color-black);
    font-size: var(--size-md);
    font-weight: bold;
    border: #ffffff;
}
 /* ----------side nav end---------- */

/* ----------side hiroslider start----------- */
/* .carousel-item img {
    height: 70vh;
    object-fit: cover;
  }
 */
.carousel-indicators button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    
}
.carousel-indicators button.active{
    background-color: var(--color-white);
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}

.carousel-inner .carousel-first-item{
    background-image: url(../image/slider/slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    border-radius: 5px;
}
.carousel-inner .carousel-first-item .carousel-item-content{
    padding-left: 45px;
}
.carousel-inner .carousel-first-item .carousel-item-content h1{
    margin-top: 150px; 
    color: var(--color-white);
    /* -webkit-text-stroke:2px; */
}
.carousel-inner .carousel-first-item .pera-content p{
    color: var(--color-white);
    padding-left: 45px;
    
    /* margin-bottom: 50px; */
}
.carousel-inner .carousel-second-item{
    background-image: url(../image/slider/slider-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    border-radius: 5px;
}
.carousel-inner .carousel-second-item .carousel-item-content{
    padding-left: 45px;
}
.carousel-inner .carousel-second-item .carousel-item-content h1{
    margin-top: 150px; 
    color: var(--color-white);
    /* -webkit-text-stroke:2px; */
}
.carousel-inner .carousel-second-item .pera-content p{
    color: var(--color-white);
    padding-left: 45px;
    
    /* margin-bottom: 50px; */
}
.carousel-inner .carousel-third-item{
    background-image: url(../image/slider/slider-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    border-radius: 5px;
}
.carousel-inner .carousel-third-item .carousel-item-content{
    padding-left: 45px;
}
.carousel-inner .carousel-third-item .carousel-item-content h1{
    margin-top: 150px; 
    color: var(--color-white);
    /* -webkit-text-stroke:2px; */
}
.carousel-inner .carousel-third-item .pera-content p{
    color: var(--color-white);
    padding-left: 45px;
}

.carousel-inner .carousel-item .shop-btn {
    width: 155px;
    border: 1px solid var(--color-black);
    border-radius: 25px !important;
    font-size: var(--size-sm);
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 12px 30px;
    text-transform: uppercase;
    margin:30px;
    
}
.carousel-inner .carousel-item .carousel-first-item .shop-btn a:hover {
    color: #d9e2c0;
}
.carousel-inner .carousel-item .carousel-second-item .shop-btn a:hover {
    color: #d9e2c0;
}
.carousel-inner .carousel-item .carousel-third-item .shop-btn a:hover {
    color: #e3c7c7;
}
/* ----------side hiroslider end----------- */

/* ----------shipping-area start----------- */

.shipping-area{
    background-color: var(--color-white);
    margin-top: 30px;
}

/* .shipping-area .shipping-item .shipping-content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
} */
.shipping-area .shipping-item{
   /* display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center; */
text-align: center;
}
.shipping-area .shipping-item .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: var(--size-lg);
    margin: 30px 100px;
} 

/* ----------shipping-area end----------- */
/* ------- product area start ------- */
.product-area{
    margin-top: 0px;
}
.product-area .card{
    width: 100%;
    margin: 10px 0px !important;
    overflow: hidden;
}
.product-area .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .6s;
}
.product-area .card-body {
    text-align: center;
}
.product-area .card-body .ratting i{
    color: var(--primary-color) !important;
    font-size: var(--size-md);
}
.product-area .card .card-body .btn{
    background-color: var(--primary-color) !important;
    color: var(--color-white);
    border:var(--color-white);
}
.product-area .card:hover img{
    transform: scale(1.3);
    /* transform: rotate(360deg); */
    transition: .9s;
}
/* ------- product area end ------- */
/* -------------Testimonial start---------- */

.testimonial-area .card-item{
    height: 365px;
    margin: 10px 10px;
    background-color: var(--color-white);
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.35);
}
.testimonial-area .card-item:hover{
    border: 1px solid var(--primary-color);
    transition: .12s;
    
}
.testimonial-area .card-item .photo{
    margin-left:50px;
    margin-top: 20px;
}
 .testimonial-area .card-item .photo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonial-area .card-item .ratting i{
    color: var(--secondary-color) !important;
    font-size: var(--size-md);
}
.testimonial-area .card-item .card-text p{
    padding: 50px;
}
.slick-next::before{
    color: var(--primary-color)!important;
}
.slick-prev::before{
    color: var(--primary-color)!important;

}
.slick-dots li button::before {
	font-size: 8px;
    opacity: .5;
	width: 30px;
	height: 30px;
	color: var(--primary-color);
}
.slick-dots li.slick-active button::before {
	opacity: 0.85;
	color: var(--secondary-color);
}
/* -------------Testimonial End---------- */
.footer-area{
    background-color:#1E1B38; 
}
.footer-area .text i{
    color: var(--primary-color);
    font-size: var(--size-lg);
}
.footer-area .text .another-text{
    color: var(--color-white);
}

.footer-area form input{
        padding-left: 35px;
        color: #a09f9f !important;
        font-size: var(--size-md);
        border: 1px solid black !important;
        box-shadow: solid black !important;
        background-color: #515151;
}
.footer-area form button {
    width: 250px;
    border: 1px solid var(--primary-color);
    box-shadow: solid black;
    background-color: var(--primary-color);
    text-transform: uppercase;
    padding: 20px 24px;
}
.footer-area h4{
    color: var(--color-white);
}
 .footer-area .inner-item li{
    list-style-type: none;
    color: var(--color-white);
}
.footer-area .inner-item li,a{
  
    color: var(--color-white);
} */
.footer-area .footer-link-text ul,li,a:hover{
    color: var(--primary-color);
}
footer ul{
    margin: 0;
    padding: 0;
}